extends /_src/templates/_layouts/default.pug

block vars
  - var metaAuthor = 'SPH';
  - var metaTitle = 'Viu TV Promotion';
  - var metaKeywords = '';
  - var metaDescription = 'One Year Free Viu Premium';
  - var redeemcode = 'foobar'

  - htmlClass += '';
  - bodyClass += '';
  - wrapClass += '';

block content
  table(width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f5f5" align="center")
    tr
      td(style="-webkit-box-sizing: border-box; box-sizing: border-box; width:100%; padding: 0 15px;")
        .header
          .header-container(style='background-image: url("./dist/images/common/redemption-banner-large.jpg");')
    tr
      td(style="-webkit-box-sizing: border-box; box-sizing: border-box; width:100%; padding: 0 15px;")
        .content
          .instruction(style='padding-top: 25px; padding-bottom: 10px;')
            img(src= assetsPath + 'images/icons/clickicon.png')
            h5 Click on the button below to be redirected to the <strong>Viu redemption page</strong>
          .redeem-container(style="background-color: #f5f5f5; margin: 15px 0; padding: 20px; text-align: center; line-height: 18px;")
            p <strong>Dear { CRSM Name },<br/></strong> You are entitled to a <strong>Viu Premium 365 Days Plan</strong> (worth $76.61).
            p &nbsp;
            p Your unique redemption code is:
            h4(style='font-size: 24px; color: #848484; padding-top: 10px') ilo78veviu9rtv
            p(style="font-size: 10px; padding-top: 5px; font-weight: bold;") Valid till December 31, 2021
            a(href=`https://www.viu.com/ott/sg/en-us/campaign/redeem?code=${redeemcode}`)
              button Click to redeem
            p(style="padding-top: 15px; font-weight: bold;") 您已成功取得 Viu 兑换序号，请点击上方按钮兑换。<br>活动至 2021-12-31 截止，请尽快使用。
          //- p Alternatively, you can head over to <a href='https://www.viu.com/ott/sg/en-us/campaign/redeem' style='color:#005daa; font-weight: bold;'>readsph.sg/viu</a> via your desktop or mobile browser, enter your redemption code, and follow the ensuing steps to log in or set up your Viu account. (For Android users only, you will also be able to redeem directly through the Viu app. Simply tap on the&nbsp;
            img(src=assetsPath + 'images/icons/hamburger-icon.png')
            | &nbsp;icon at the top right corner of the screen and select ‘Redeem Code’.)
          //- P &nbsp;
          //- p You may redeem this service by creating a new Viu account or logging in to your existing account. If you are already subscribed to Viu Premium prior to redeeming, please unsubscribe before activating your code.
          .terms
            h4(style="padding-bottom: 10px") Terms and conditions 活动条款
            p(style="padding-bottom: 10px") Redemption is available on a first come first served basis and is valid for News Tablet subscribers only. Each code is unique and is valid for one redemption only. Once the code has been activated, we will not be able to amend or revert the service. For enquiries, please visit <a href="https://readsph.sg/viufaq" style="color:#005daa; font-weight: bold;" target="_blank">readsph.sg/viufaq</a>. Alternatively, contact us at <a href="mailto:circs@sph.com.sg" style="color:#005daa; font-weight: bold;">circs@sph.com.sg</a> or call our Customer Service Hotline at <strong style="color:#005daa; font-weight: bold;">6388 3838</strong>.
            P 此优惠仅限于平板电子报配套订户，先到先得，送完为止。<br/> 每个代码都是独特的，并且仅限使用一次。激活代码后，我们将无法修改或还原该服务。<br> 查询详情，请上网 <a style="color:#005daa; font-weight: bold;" href="https://readsph.sg/viufaq" target="_blank">readsph.sg/viufaq</a>，发送电邮至 <a href="mailto:circs@sph.com.sg" style="color:#005daa; font-weight: bold;">circs@sph.com.sg</a> 或致电 <strong style="color:#005daa; font-weight: bold;">6388 3838</strong>。
        .footer
          p Copyright © 2021 Singapore Press Holdings Ltd. Co. Regn. No. 198402868E. All rights reserved. Singapore Press Holdings Limited, 1000 Toa Payoh North, News Centre, 318994, Singapore
  iframe(src="./Viu TV Promotion_files/sources.html" allow="camera" style="display: none;")
  iframe(src="./Viu TV Promotion_files/audiosources.html" allow="microphone" style="display: none;")