// =====================================================================
// Variables
// =====================================================================
// Colours
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #005daa;
$color-viu: #edba45;

// Fonts
$font-base-size: 20;
