//- initialization
- blocks = []

mixin set(key)
  - blocks[key] = this.block

//- include /_src/templates/_components/section.pug
//- include /_src/templates/_components/radio.pug
//- include /_src/templates/_components/checkbox.pug
