- var metaAuthor = '';
- var metaTitle = '';
- var metaKeywords = '';
- var metaDescription = '';

- var htmlClass = '';
- var bodyClass = '';
- var wrapClass = '';

- var assetsPath = relativeRootPath + 'dist/';

- bodyClass += isProd ? 'is-prod ' : '';
- bodyClass += isDev ? 'is-dev ' : '';

  block vars
